:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #f6f8f9;
  --color-pink: #fa6980;
  --color-black: #343638;
  --color-white: #fff;
  --color-grey: #abadb4;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: #131313;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
