.newsSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
}

.newsItemWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.navigationArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationArrows .arrow {
  padding: 10px;
}
.navigationArrows .arrow:hover {
  cursor: pointer;
  background-color: var(--color-bg);
  border-radius: 100%;
}

.newsSection hr {
  border: 1px solid #ddd;
  margin: 2rem 0;
  width: 100%;
}

.newsItem {
  margin-bottom: 3rem;
}

.category {
  color: var(--color-pink);
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.newsItem h3 {
  font-size: 1rem;
  margin-top: 1rem;
}

.newsItem p {
  font-size: 1rem;
  color: var(--color-grey);
  margin-bottom: 10px;
}

.time {
  font-size: 0.9rem;
  color: #aaa;
  font-style: italic;

  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1080px) and (min-width: 768px) {
  .newsItemWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
