.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
  transition: 0.4s;
}

/* Open State */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Show only on mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
